// SmartCard.css
.smart-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.text-area-question,
.text-area-answer {
  flex: 1;
  resize: none;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  margin: 0 10px;
}

.text-area-question {
  background-color: #f8f9fa;
}

.text-area-answer {
  background-color: #fff;
}